.claude
.superpowers/
.worktrees/
node_modules
.DS_Store
test-models/large
netron-main/
.serena/
dist
*.tgz
*.zip
.venv
docs/public
docs/resources/_gen/
docs/.hugo_build.lock
*.log
*draft*
npm-debug.log*
data/
tmp
